<!-- <div id="particles-js" style="background-color: #1a222c;"> <!-- Replace #1a222c (base color) with your desired color -->

    <div id="particles-js" style="background: linear-gradient(to bottom, #051529, #2a2d3d);"> <!-- Replace the colors as needed -->
        <div class="header">
            <h1>
              <span class="site-title" style="font-size: 68px;">Data Science & Economics of Energy</span>
              <span class="site-description">{{site.username}}</span>
            </h1>
            <div class="header-icons">
              <a aria-label="Send me an email" href="mailto:santiago.manotas@gmail.com"><i class="icon fa fa-envelope"></i></a>
              <a aria-label="My GitHub" target="_blank" href="https://github.com/smanotasa"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
              <a aria-label="My Linkedin" href="https://www.linkedin.com/in/santiago-manotas/"><i class="icon fa fa-linkedin"></i></a>
            </div>
            <div class="header-links">
              <a class="link" href="{{ site.baseurl }}/aboutme/index.html">About Me</a>
              <a class="link" href="#projects" data-scroll>Projects</a>
            </div>
        </div>
        <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>